@font-face {
    font-family: 'JF Flat Regular';
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'), url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url(../fonts/JF-Flat-regular.woff) format('woff'), url(../fonts/JF-Flat-regular.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal;
}

body {
    font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: black;
    line-height: 1.429;
}

h1 {
    color: red;
    text-align: center;
}

.custom-navbar {
    border-bottom: 3px solid #EEF0EA;
    width: 100%;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.custom-navbar .container {
    padding: 0;
}

.navbar-brand {
    margin-left: 30px;
    margin-top: 4px;
}

.nav-item a {
    color: #555;
    font-size: 14px;
    font-weight: 700;
    padding: 15px;
}

.search-btn {
    color: #949494;
    border-radius: 0%;
    background-color: transparent;
    border: 1px solid #9b8b8b;
}

.custom-navbar .search-btn:hover, .search-btn:focus, .search-btn:active, .search-btn:active:focus, .search-btn:active:hover {
    color: goldenrod !important;
    background-color: #d4d4d4 !important;
    border-color: #9b8b8b !important;
}

.submit-search-btn {
    color: white;
    background-color: #FF3956;
    font-weight: 700;
    border-radius: 0%;
    padding: 5px 15px 7px 15px;
}

.submit-search-btn:hover {
    color: white;
    background-color: #e0314b;
}

.search-bar {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-color: #9b8b8b;
}

.search-bar:focus {
    border-color: #C2101E;
    box-shadow: 0 0 2px 0 #C2101E;
}

.selected {
    color: #FF3956 !important;
    border-bottom: 1px #FF3956 solid;
}

.selected:hover {
    background-color: #d4d4d4;
}

.custom-dropdown {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #e7e7e7;
    color: #777;
}

.custom-dropdown .dropdown-item:focus, .dropdown-item:hover {
    background-color: #FFE7E4 !important;
    border-bottom: 0 !important;
}

.btn-icon {
    padding: 5px 10px 4px;
    color: #777;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    margin: 0 15px;
    font-size: 12px;
}

.navbar-nav li:last-of-type {
    margin-top: 8px
}

.btn-icon:hover {
    color: black;
    background-color: #bfbfbf;
}

.sliderr.col-12 {
    padding-left: 0;
    padding-right: 0;
}

.slider {
    background-color: #F7F8F3;
    height: 400px;
    padding-top: 25px;
}

.carousel-item img {
    height: 375px;
}

.product-details {
    border: 1px solid #DDDDDB;
    padding: 20px;
    position: relative;
    margin-top: 50px;
    height: 200px;
}

.product-details .product-category {
    border: 1px solid #DDDDDB;
    padding: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #F7F8F3;
}

.custom-product {
    color: #F8AD47;
    border-color: #F8AD47;
    background-color: transparent;
    padding: 9px 25px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 2px;
}

.sale {
    position: absolute;
    top: -15px;
    left: -15px;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: lightblue;
    transform: rotate(-25deg);
    display: flex;
    font-size: 130%;
    padding: 35px;
    line-height: 90%;
    flex-direction: column;
    color: white;
}

.sale span {
    font-size: 14px;
}

.carousel-inner .carousel-item h1 {
    width: auto;
    margin-top: 15px;
    font-weight: 1000;
    font-size: 30px;
    color: black;
    display: flex;
}

.custom-indicators {
    top: 235px;
    right: 41%;
}

.custom-indicators img {
    height: 75px;
    width: 75px;
    background-color: white;
    border: 2px solid #DDDDDB;
    margin-right: 2px;
}

.custom-indicators img.active {
    border-color: #F8AD47;
}

.fa-chevron-right, .fa-chevron-left {
    color: #868686;
    font-size: 20px;
}

@media (min-width: 1500px) {
    .custom-indicators {
        right: 29%;
    }
}

.store-features {
    box-shadow: 0 0 15px #EEF0EA;
    position: relative;
    top: -30px;
    background-image: url(../imgs/bg_features.png);
    background-repeat: no-repeat;
    background-color: white;
    padding-bottom: 35px;
    padding-top: 25px;
    background-size: auto 60%;
    background-position: -10px -20px;
}

.store-features>img {
    height: 40px;
    margin-bottom: 10px;
}

.store-features .feature.feature {
    border-right: 1px solid #EEF0EA;
}

.store-features .features-text {
    font-size: 24px;
    margin-bottom: 25px;
}

.carousel-most-sold img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.carousel-most-sold .custom-card {
    padding: 8px;
    border: 2px solid #EEF0EA;
    cursor: pointer;
    margin-bottom: 20px;
}

.carousel-most-sold .custom-card:hover {
    border-color: #53CCD7;
}

.carousel-most-sold h4 {
    font-size: 18px;
    padding-top: 10px;
    float: right;
}

.carousel-most-sold .card-body {
    padding: 9px;
}

.carousel-most-sold .custom-card .price {
    padding-top: 10px;
    float: left;
}

.price {
    color: #53CCD7;
}

.rating {
    color: #C2C2C2;
}

.rating .active {
    color: #f3af41;
}

.carousel-most-sold .overlay {
    position: absolute;
    background-color: rgba(83, 214, 215, .5);
    height: 15vw;
    width: calc(100% - 16px);
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    transition: all .5s ease;
}

.overlay:hover {
    opacity: 1;
}

.carousel-most-sold .overlay .add-card-btn {
    background-color: white;
    color: #19becd;
    font-weight: bold;
    border-color: #C2C2C2;
}

.carousel-most-sold .overlay .add-card-btn:hover, .carousel-most-sold .overlay .add-card-btn:active, .carousel-most-sold .overlay .add-card-btn:focus, .carousel-most-sold .overlay .add-card-btn:active:focus, .carousel-most-sold .overlay .add-card-btn:active:hover {
    color: black;
}

.carousel-most-sold .sale-tag {
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    top: 14px;
    background-color: lightblue;
    direction: ltr;
}

.carousel-most-sold .sale-tag:before {
    content: "-";
}

.custom-indicators li {
    height: 13px;
    width: 13px;
    margin: 2px;
    background-color: #DBDBDB;
    top: 150px;
}

.carousel-most-sold .carousel-indicators {
    position: static;
}

.custom-indicators li.active {
    background-color: #565656;
}

.custom-panel {
    border: 4px solid #EEF0EA;
    border-radius: 2px;
    box-shadow: none;
    padding: 20px;
}

.custom-panel .product-img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.custom-btn {
    color: #F8AD47;
    border-color: #F8AD47;
    background-color: transparent;
}

.custom-btn:hover, .custom-btn:active, .custom-btn:focus, .custom-btn:active:focus, .custom-btn:active:hover {
    color: #b86d07;
    border-color: #b86d07;
    background-color: transparent;
}

.custom-panel h4, .custom-panel .price {
    font-size: 130%;
    margin-top: 0;
    margin-bottom: 15px;
}

.custom-text {
    color: #A9A9A9;
}

.custom-arrow {
    background-color: white;
    color: #868686;
    border: 1px solid #EBEBEB;
    box-shadow: none;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 12px;
}

.brand-product {
    margin-bottom: 20px;
}

.brand-text {
    display: inline-block;
}

.brand-product .brand-nav {
    margin-top: 14px;
}

h3.custom-heading {
    border-top: 1px solid #EEF0EA;
    padding-top: 25px;
}